<wicket:panel>
	<a wicket:id="link-home"><wicket:message key="menuPanel.home" /></a>|
	<wicket:enclosure>
		<a wicket:id="link-accounts"><wicket:message
				key="menuPanel.accounts" /></a>|
    </wicket:enclosure>
	<wicket:enclosure>
		<a wicket:id="link-questions"><wicket:message
				key="menuPanel.question" /></a>|
    </wicket:enclosure>
	<wicket:enclosure>
		<a wicket:id="link-subjects"><wicket:message
				key="menuPanel.subjects" /></a>|
    </wicket:enclosure>
	<wicket:enclosure>
		<a wicket:id="link-examinations"><wicket:message
				key="menuPanel.examinations" /></a>|
    </wicket:enclosure>
    <wicket:enclosure>
		<a wicket:id="link-result"><wicket:message key="menuPanel.result" /></a>|
</wicket:enclosure>
    <wicket:enclosure>
		<a wicket:id="link-personal"><wicket:message
				key="menuPanel.personal" /></a>|
    </wicket:enclosure>
    <wicket:enclosure>
		<a wicket:id="link-registration"><wicket:message key="menuPanel.register" /></a>|
    </wicket:enclosure>
	<wicket:enclosure>
		<a wicket:id="link-logout"><wicket:message key="menuPanel.logout" /></a>|
    </wicket:enclosure>
	<wicket:enclosure>
		<a wicket:id="link-login"><wicket:message key="menuPanel.login" /></a>|
</wicket:enclosure>
</wicket:panel>